---
---

@import "{{ site.theme }}";
#header {
    nav {

        max-width: 950px;
        ul li a {
            &:hover{
                background: linear-gradient(#3a3a3a, #2b2b2b);
                border: none;
            }
            color: white;
            border: none;
            background: none;
            border-radius: 5px;
            box-shadow: none;
            padding: 10px 15px;
            margin-top: 6px;
            line-height: 16px;
            // font-size: 16px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            transition: background 0.3s ease, box-shadow 0.3s ease;
        }
    }
    }
.wrapper {
    max-width: 950px;
    section {
        max-width: 950px;
        margin-top: 20px;
    }    
}